@page "/"
@inherits IndexBase

@{ bool firstRow;}
<EditForm Model="Master">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="my_container">
        <div class="my_header">
            <div class="my_control">
                <label>BillNo</label>
                <InputNumber @bind-Value="Master.BillNo" />
                <ValidationMessage For="() => Master.BillNo" />
            </div>
            <div class="my_control">
                <label>Date</label>
                <InputDate @bind-Value="Master.Date"></InputDate>
                <ValidationMessage For="() => Master.Date" />
            </div>
            <div class="my_control">
                <label>Customer</label>
                <InputSelect @bind-Value="Master.CustomerId" id="customer">
                    @foreach (var item in Master.Customers)
                    {
                        <option value="@item.Value">@item.Key</option>
                    }
                </InputSelect>@Master.CustomerId
                <ValidationMessage For="() => Master.CustomerId" />
            </div>
            <div class="my_control">
                <label>Taxable</label>
                <InputCheckbox @bind-Value="Master.Taxable"></InputCheckbox>
                <ValidationMessage For="() => Master.Taxable" />
            </div>
        </div>
        <div class="my_detail">
            @{
                firstRow = true;
            }
            @foreach (var item in Master.DetailList)
            {
                <div class="my_detail_row">
                    <div class="my_control">
                        @if (firstRow)
                        {
                            <label>Item</label>
                        }
                    <InputSelect @bind-Value="item.ProductId">
                        @foreach (var item in Master.Products)
                        {
                            <option value="@item.Value">@item.Key</option>
                        }
                    </InputSelect>
                        <ValidationMessage For="() => item.ProductId" />
                    </div>
                    <div class="my_control">
                        @if (firstRow)
                        {
                            <label>Quantity</label>
                        }
                        <InputNumber @bind-Value="item.Quantity" class="rightalign" />
                        <ValidationMessage For="() => item.Quantity" />
                    </div>
                    <div class="my_control">
                        @if (firstRow)
                        {
                            <label>Rate</label>
                        }
                        <InputNumber @bind-Value="item.Rate" class="rightalign" />
                        <ValidationMessage For="() => item.Rate" />
                    </div>
                    <div class="my_control">
                        @if (firstRow)
                        {
                            <label>Total</label>
                        }
                        <InputNumber @bind-Value="item.Total" class="rightalign" disabled="disabled" />
                        <ValidationMessage For="() => item.Total" />
                    </div>
                </div>
                firstRow = false;
            }
            <button id="my_addButton" class="btn btn-primary" @onclick="Master.AddNewDetailRow">Add</button>
        </div>
        <div class="my_footer">
            <div class="my_control">
                <label>Remarks</label>
                <InputText @bind-Value="Master.Remarks"></InputText>
                <ValidationMessage For="() => Master.Remarks" />
            </div>
            <div class="my_control">
                <label>Net</label>
                <InputNumber @bind-Value="Master.Net" disabled="disabled" class="rightalign"></InputNumber>
                <ValidationMessage For="() => Master.Net" />
            </div>
            <div class="my_control">
                <label>Discount</label>
                <InputNumber @bind-Value="Master.Discount" class="rightalign"></InputNumber>
                <ValidationMessage For="() => Master.Discount" />
            </div>
            <div class="my_control">
                <label>Total</label>
                <InputNumber @bind-Value="Master.Total" class="rightalign" disabled="disabled"></InputNumber>
                <ValidationMessage For="() => Master.Total" />
            </div>
        </div>
    </div>
</EditForm>























    @*<EditForm Model="@Master" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary id="MyValidationSummary" />

            <button class="btn btn-primary" @onclick="AddNewRow">New</button>
            @foreach (var item in Master.DetailList)
            {
                <div class="row">
                    <div class="col-md-3">
                        <InputText class="form-control" id="name" palceholder="Name" @bind-Value="item.Name" />
                        <ValidationMessage For="@(()=>item.Name)" style="color:green;" />
                    </div>
                    <div class="col-md-3">
                        <InputText class="form-control" palceholder="Quantity" @bind-Value="item.Quantity" />
                        <ValidationMessage For="@(()=>item.Quantity)" style="color:green;" />
                    </div>
                    <div class="col-md-3">
                        <InputText class="form-control" palceholder="Rate" @bind-Value="item.Rate" />
                        <ValidationMessage For="@(()=>item.Rate)" style="color:green;" />
                    </div>
                    <div class="col-md-3">
                        <InputText class="form-control" palceholder="Total" @bind-Value="item.Total" />
                        <ValidationMessage For="@(()=>item.Total)" style="color:green;" />
                    </div>
                </div>
            }

        </EditForm>*@


    @*<div class="form-group">
            <label class="control-label">Quantity</label>
            <input class="form-control" @bind-value="item.Quantity" />
            <ValidationMessage For="@(()=>item.Quantity)" style="color:green;" />

            <span asp-validation-for="Detail.ProductId" class="text-danger"></span>
        </div>*@